.formCard {
  width: 400px;
  height: 599px;
  margin-left: 15%;
  box-shadow: -5px 5px 9px #00000029;
  border-radius: 11px;
  background-color: #41b7bf;
}
@media (max-width: 780px) {
  .formCard {
    margin-left: 9px;
    margin-right: 9px;
    width: 370px;
  }
  .backButton{
    width: 50px;
  }
  .secondColumn{
    display: none;
  }
}
@media (min-width: 780px) {

    .backButton2{
      display: none;
    }
  }

.titleForm {
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  padding-top: 30px;
}

.labelForm {
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}
.inputForm {
  width: 336px;
  height: 33px;
}
.inputForm:hover {
  border: 2px solid #68ca7e;
  border-radius: 5px;
  opacity: 1;
}
.inputForm:focus,
.selectForm:focus {
  border: 2px solid #68ca7e;
  box-shadow: none;
  outline: none;
  opacity: 1;
}
.selectForm {
  width: 336px;
  height: 33px;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  opacity: 1;
  padding-left: 10px;
}
select::-webkit-input-placeholder {
  opacity: 0.3; /*Change the opacity between 0 and 1*/
}

.selectOption {
  opacity: 0.3;
}
.acept {
  color: #ffffff;
  font-size: 11px;
}
.spanPoli {
  color: #ffffff;
  background-color: #41b7bf;
  text-decoration: underline;
}

.inscribeteFormButton {
  width: 336px;
  height: 44px;
  text-align: center;
  margin-top: 25px;
  padding-top: 7px;
  border: #41b7bf solid 2px;

  /* background: #41b7bf 0% 0%; */
  border-radius: 16px;
  opacity: 1;
  color: #41b7bf;
  font-size: 18px;
  background: #ffffff;
}
.regresarFormButton {
  width: 131px;
  height: 27px;
  text-align: center;
  margin-top: 25px;

  /* background: #41b7bf 0% 0%; */
  border-radius: 16px;
  opacity: 1;
  background: #41b7bf;
  font-size: 18px;
  color: #ffffff;
  margin-left: 21%;
}
.regresarFormButton:hover {
  background-color: #ffffff;
  color: #41b7bf;
  border: #41b7bf solid 1px;
}
.girlImg {
  width: 50%;
  height: 65%;
}
.miniCard {
text-align: center;
margin-left: 37px;
  background: #41b7bf;
  color: #ffffff;
  width: 337px;
  height: 126px;
  box-shadow: -5px 5px 9px #00000029;
  border-radius: 11px;
  opacity: 1;
}
.bloomTransparente{
    width: 75%;
    height: 60%;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  left: 4px;
  bottom: 4px;
  background-color: #fbcd5d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.inputToggle:checked + .slider {
  background-color: #ffffff;
}

.inputToggle:focus + .slider {
  box-shadow: 0 0 1px #ffffff;
}

.inputToggle:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch .inputToggle {
  opacity: 0;
  width: 0;
  height: 0;
}
